
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;

}
.container{
   width: 92%;
   margin: 40px auto;
  

}
.header{
    font-size: 22px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 20px;
    width: fit-content;

}
.title{
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 25px;
    width: fit-content;




}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    row-gap: 30px;
    column-gap: 30px;

}
.item{
    padding: 16px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 5px;


}
.img{
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    width: 100%;
    height: fit-content;
    cursor: pointer;
    transition: 0.3s;


}
.img:hover img{
    transform: scale(1.2);

}
.name{
    margin-top: 10px;
    font-size: 20px;

}
.desc{
    margin-top: 10px;
    font-weight: 300;

}

.imageView{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.4s linear;
    opacity: 0;
    visibility: hidden;
}
.imgContainer{
  width: 90%;
height: 90%;

    
}
.popUpImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cross{
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    z-index: 3;
    cursor: pointer;
    font-size: 20;
}
.active{
    opacity: 1;
    visibility: visible;
}